#config_version=6
mode_settings:
  selectable_items:
    - title
    - credits
    - mpf_logo
  next_item_events: s_left_flipper_active, timer_attract_carousel_timer_complete
  previous_item_events: s_right_flipper_active

slide_player:
  mode_attract_started: attract
sound_player:
  mode_attract_started: 
    slowlife:
      bus:  music

timers:
  attract_carousel_timer:
    end_value: 1
    tick_interval: 5s
    start_running: true
    control_events:
      - event: carousel_item_highlighted
        action: restart
      - event: flipper_cradle
        action: stop
      - event: flipper_cradle_release
        action: restart
